@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header start */
header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 65px;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
}

.header-logo,
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  margin-left: 30px;
  line-height: 65px;
}

.header-list {
  font-size: 20px;
  padding: 0 25px;
  line-height: 65px;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}

/* header end */

.main_banner {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_banner::before {
  content: "";
  background-image: url(./img/teamProto.jpg);
  background-size: cover;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.main_image {
  width: 100%;
  height: 600px;
}

.main_text {
  font-family: 'SpoqaHanSansNeo-Bold';
  font-size: 100px;
}

.title_text {
  font-family: 'SpoqaHanSansNeo-Bold';
  font-size: 75px;
  text-align: center;
}

#title_text_small {
  font-family: 'SpoqaHanSansNeo-Bold';
  font-size: 50px;
  text-align: center;
}

.what_we_do {
  margin-top: 60px;
  margin-bottom: 24px;
}

.paragraph_text {
  text-align: center;
  font-size: 20px;
  font-family: 'SpoqaHanSansNeo-Light';
  margin-bottom: 80px;
}

.fashion_box {
  background-color: #2A63A6;
  width: 100%;
  height: 824px;
}

.environment_boxes {
  margin: 50px 100px 0 100px;
  display: flex;
  justify-content: space-around;
}

.environment_box_text {
  font-family: 'SpoqaHanSansNeo-Light';
  font-size: 50px;
  font-weight: 500;
}

#water_box {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#water_box::before {
  content: "";
  background-image: url(./img/water.jpg);
  background-size: cover;
  opacity: 0.50;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

#carbon_box {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carbon_box::before {
  content: "";
  background-image: url(./img/carbonEmission.jpg);
  background-size: cover;
  opacity: 0.80;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

#third_box {
  position: relative;
  width: 280px;
  height: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#third_box::before {
  content: "";
  background-image: url(./img/turtle.jpg);
  background-size: cover;
  opacity: 0.70;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

#ocean {
  position: relative;
  width: 100%;
  height: 600px;
  font-family: 'SpoqaHanSansNeo';
  color: white;
}

#ocean::before {
  content: "";
  background-image: url(./img/waterOcean.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
}

.text_margin {
  margin: 0 10% 0 10%;
}

.ocean_block {
  display: flex;
  justify-content: space-between;
  font-family: 'SpoqaHanSansNeo';
}

.ocean_title {
  font-size: 50px;
  padding-top: 40px;
}

.ocean_subtitle {
  margin-bottom: 70px;
}

.ocean_text_big {
  font-weight: bold;
  font-size: 80px;
}

.ocean_text_small {
  font-size: 30px;
}

.paragraph_text_left {
  font-size: 25px;
  font-family: 'SpoqaHanSansNeo-Light';
}

.circle_flex {
  display: flex;
  justify-content: space-between;
}

.circle {
  display: flex;
  height: 13em;
  width: 13em;
  background-color: lightgray;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.circle_inner_text {
  font-size: 30px;
}

.circle_margin {
  margin: 0 14% 0 14%;
}

.circle_subtitle {
  margin: 12px 10% 45px 10%;
}