@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Thin';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'SpoqaHanSansNeo-Medium';
}

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* global */
.container {
  width: 100%;
  height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: auto;
}

.page {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

.first-page {
  scroll-snap-align: start;
}

.page-box {
  width: 120rem;
  margin: auto;
}

.first-page {
  height: 100vh;
}

/* global */

/* header start */
.header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 8.24%;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 2rem;
}

.header-logo,
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 3rem;
  margin-left: 3rem;
  line-height: 6.5rem;
}

.header-list {
  font-size: 2rem;
  padding: 0 2.5rem;
  line-height: 6.5rem;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}

/* header end */

/* main page */
.main-page {
  height: 91.76%;
  background-size: 110%;
  background-position: center;
  background-image: url(../img/team-photo.jpeg);
}

.main-page-text {
  font-size: 10rem;
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 90.83vh;
}

/* main page */

/* what we do page */
.what-we-do-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.what-we-do-page-text-box {
  text-align: center;
}

.what-we-do-page-title-text {
  font-size: 7.5rem;
  font-weight: bold;
}

.what-we-do-page-text {
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo-Thin';
}

/* what we do page */

/* graph page */
.graph-page {
  background-color: #2A63A6;
  display: flex;
}

.graph-page-box {
  width: 100rem;
  margin: auto;
}

.graph-page-text-box {
  margin-bottom: 4rem;
}

.graph-page-title-text,
.graph-page-body-text {
  color: white;
}

.graph-page-title-text {
  font-size: 3rem;
}

.graph-page-body-text {
  font-size: 2rem;
  font-family: 'SpoqaHanSansNeo-Thin';
}

.graph-page-graph-box1 {
  display: flex;
  margin: 5rem 0;
}

.graph-page-graph-box-text {
  font-size: 4rem;
  color: #F9CD50;
  width: 13rem;
  text-align: left;
}

.graph-page-graph-box1-graph {
  height: 5rem;
  width: 20rem;
  background-color: #F9CD50;
}

.graph-page-graph-box2-graph {
  height: 5rem;
  width: 85rem;
  background-color: #F9CD50;
}

.graph-page-bottom-text {
  text-align: center;
}

/* graph page */

/* environment page */
.environment-page {
  position: relative;
  text-align: center;
  display: flex;
}

.environment-page-box {
  width: 80rem;
  margin: auto;
}

.environment-page-title-text {
  font-size: 7rem;
  font-weight: bold;
  position: absolute;
  top: 5%;
  left: 50%;
  margin-left: -21.704rem;
  /* margin-bottom: 4rem; */
}

.environment-page-img-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.environment-page-img {
  position: relative;
  z-index: 1;
  width: 30rem;
  height: 30rem;
  background-image: url(../img/water.jpg);
  background-size: 150%;
}

.environment-page-img2 {
  position: relative;
  z-index: 1;
  width: 30rem;
  height: 30rem;
  background-image: url(../img/carbonEmission.jpg);
  background-size: 150%;
}

.environment-page-img-text {
  font-size: 4rem;
  text-align: center;
  line-height: 30rem;
}

/* environment page */

/* water page */
.water-page {
  position: relative;
  z-index: 1;
  background-image: url(../img/water.jpg);
  background-size: 100%;
  background-position: center;
}

.water-page-background-color {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.water-page-title-text,
.water-page-text,
.water-page-flex-text,
.water-page-flex-title-text,
.water-page-body-text {
  color: white;
}

.water-page-title-text {
  position: relative;
  z-index: 3;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.water-page-text {
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo-Thin';
  margin-bottom: 6rem;
}

.water-page-flex-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.water-page-flex {
  position: relative;
}

.water-page-flex-text {
  text-align: center;
  font-size: 4rem;
}

.water-page-flex-title-text {
  text-align: center;
  font-size: 10rem;
}

.water-page-body-text {
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo-Thin';
  margin-bottom: 5rem;
}

/* water page */

/* plastic page */
.plastic-page {
  display: flex;
}

.plastic-page-title-text {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.plastic-page-text {
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo-Thin';
  margin-bottom: 7rem;
}

.plastic-page-flex-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}

.plastic-page-flex {
  width: 25rem;
  height: 25rem;
  border-radius: 50rem;
}

.plastic-page-flex:nth-child(1) {
  background-image: url(../img/nick-de-partee-5DLBoEX99Cs-unsplash.jpg);
  background-size: cover;
}

.plastic-page-flex:nth-child(2) {
  background-image: url(../img/washingMachine.jpg);
  background-size: cover;
}

.plastic-page-flex:nth-child(3) {
  background-image: url(../img/수질오염.jpeg);
  background-size: cover;
}

.plastic-page-flex-text {
  font-size: 3rem;
  text-align: center;
  line-height: 25rem;
  font-weight: bold;
  color: #fff;
}

.plastic-page-body-text {
  font-size: 3rem;
  font-family: 'SpoqaHanSansNeo-Thin';
  margin-bottom: 4rem;
}

/* plastic page */

/* carbon emission page */
.carbon-emission-page {
  background-image: url(../img/pollution_section.jpg);
  background-size: 100%;
  background-position: center;
  display: flex;
}

.carbon-emission-page-box {
  margin: auto;
}

.carbon-emission-page-title-text,
.carbon-emission-page-body-text,
.carbon-emission-page-main-text-box-text1,
.carbon-emission-page-main-text-box-text2 {
  color: white;
}

.carbon-emission-page-title-text {
  font-size: 7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.carbon-emission-page-body-text {
  font-size: 2.5rem;
  text-align: center;
  font-family: 'SpoqaHanSansNeo-Thin';
  margin-bottom: 2rem;
}

.carbon-emission-page-main-text-box {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.carbon-emission-page-main-text-box-text1 {
  font-size: 4rem;
  line-height: 12rem;
}

.carbon-emission-page-main-text-box-text2 {
  font-size: 12rem;
}

.carbon-emission-page-flex-box {
  display: flex;
  justify-content: space-between;
  width: 60rem;
  margin: auto;
}

.carbon-emission-page-flex-box-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}

.carbon-emission-page-flex-box-img:nth-child(1) {
  background-image: url(../img/clothesHanger.jpeg);
  background-size: cover;
}

.carbon-emission-page-flex-box-img:nth-child(2) {
  background-image: url(../img/shipping.png);
  background-size: cover;
}

.carbon-emission-page-img {
  height: 10rem;
  margin: 5rem 0;
}

.carbon-emission-page-flex-box-img-text {
  text-align: center;
  line-height: 20rem;
  font-size: 3rem;
}

/* carbon emission page */

/* how page */
.how-page {
  background-color: #2A63A6;
}

.how-page-title-text {
  font-size: 10rem;
  color: #F7D153;
  text-align: center;
  line-height: 100vh;
}

/* how page */

/* refit page */
.refit-page {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.refit-page-text {
  font-size: 3rem;
  margin: 3rem 0;
}

.refit-page-arrow-img {
  margin: 3rem 0;
}

.refit-page-ellipse-img {
  margin: 4rem 0;
}

/* refit page */

/* refit page 2 */
.refit-page2 {}

.refit-page2-text {
  font-size: 3rem;
}


/* refit page 2 */

/* video page */
.video-page {
  background-color: #2A63A6;
}

.video-page-video-box {
  display: flex;
  justify-content: space-between;
  width: 120rem;
  margin: auto;
}

.video-page-title-text {
  color: white;
}

.video-page-title-text {
  font-size: 10rem;
  text-align: center;
}

.video-page-video {
  width: 50rem;
  height: 30rem;
  background-color: gray;
}

.video-page-text {
  font-size: 3rem;
  width: 65rem;
}

/* video page */