@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header start */
header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 85px;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
}

.header-logo, 
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 40px;
  margin-left: 30px;
  padding: 20px 0;
}

.header-list {
  font-size: 30px;
  padding: 25px 25px;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}
/* header end */
/* main banner start */
.img-clothes {
  width: 100%;
  height: 100%;
}

.img-earth {
  width: 100%;
  height: 100%;
}

.img-forest {
  width: 100%;
  height: 100%;
}

.img-sea {
  width: 100%;
  height: 100%;
}
/* photo slideshow */
#slideshow {
 width: 500px;
 height: 300px;
 position: relative;
 margin: 50px auto;
 overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 2500px;
  transition: left 0.5s ease-out;
}

.slides li:first-child { 
  margin-left: 100px;
}

.slides li:not(:last-child) { 
  float: left; 
  margin-right: 100px;
}


.slides li {
  float: left;
} 

.controller span{ 
  position:absolute; 
  background-color: transparent; 
  color: white; 
  text-align: center; 
  border-radius: 50%; 
  padding: 10px 20px; 
  top: 50%; 
  font-size: 1.3em; 
  cursor: pointer; 
}  

.controller span:hover { 
  background-color: rgba(128, 128, 128, 0.11); 
} 

.prev { 
  left: 10px; 
} 

.prev:hover { 
  transform: translateX(-10px); 
} 

.next { 
  right: 10px; 
} 

.next:hover { 
  transform: translateX(10px); 
}

