@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* header start */
header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 65px;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
}

.header-logo, 
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  margin-left: 30px;
  line-height: 65px;
}

.header-list {
  font-size: 20px;
  padding:0 25px;
  line-height: 65px;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}
/* header end */

/* photo slideshow */
#slideshow {
 width: 1440px;
 height: 730px;
 position: relative;
 margin: auto;
 overflow: hidden;
 z-index: 1;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  transition: 0.5s ; /*east out 넣으면 점차 빨라짐 */
}

.slides li:first-child { 
  margin-left: 0px;
}

.slides li:not(:last-child) { 
  float: left; 
}

.slides li {
  float: left;
}

.controller span { 
  position:absolute; 
  color:white; 
  text-align: center; 
  border-radius: 50%; /* 이게 뭔데 */
  padding: 10px 20px; 
  top: 50%; 
  font-size: 1.3em; 
  cursor: zoom-in; 
}  

.controller span:hover { 
  background-color: rgba(128, 128, 128, 0.11); 
} 

.prev { 
  left: 10px; 
} 

.prev:hover { 
  transform: translateX(-10px); 
} 

.next { 
  right: 10px; 
} 

.next:hover { 
  transform: translateX(10px); 
}

.dot {
  height: 10px;
  width: 10px;
  margin:700px 4px 0 4px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 2;
  position: relative;
} 