@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
.mySlides {display: none;}
img {vertical-align: middle;}



/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: absolute;
margin: auto;
z-index: 3;
}

/* The dots/bullets/indicators */
.dot {
position: relative;
width: 10px;
height: 10px;
background-color:whitesmoke;
margin: 0 2px;
display: inline-block;
border-radius: 50%;
transition: background-color 0.6s ease;
z-index: 4;

}

.active {
background-color:#2A63A6;
}

/* Fading animation */
.fade {
-webkit-animation-duration: 1.5s;
-webkit-animation-name: fade;
animation-duration: 1.5s;
animation-name: fade;
}

@-webkit-keyframes fade {
to {opacity: 1}
from {opacity: .4} 
}

@keyframes fade {
to {opacity: 1}
from {opacity: .4} 
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
}
a {
text-decoration: none;
}

/* header start */
header {
font-family: 'SpoqaHanSansNeo-Medium';
height: 65px;
background-color: #2A63A6;
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
}

.header-all-list {
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
margin-right: 20px;
}

.header-logo, 
.header-list {
color: #ECEBEC;
align-items: center;
}

.header-logo {
font-size: 30px;
margin-left: 30px;
line-height: 65px;
}

.header-list {
font-size: 20px;
padding:0 25px;
line-height: 65px;
}

.header-list:hover {
color: #FFD02D;
transition: 1s;
}

.asdf {
position: relative;
top: 700px;
}
/* header end */