@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'SpoqaHanSansNeo-Medium';
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
/* header start */
header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 6.5rem;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 2rem;
}

.header-logo,
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 3rem;
  margin-left: 3rem;
  line-height: 6.5rem;
}

.header-list {
  font-size: 2rem;
  padding: 0 2.5rem;
  line-height: 6.5rem;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}

/* header end */
/* team member container */
main {
  display: flex;
  height: 93.5vh;
  justify-content: space-around;
  align-items: center;
  background-image: url(../img/team-photo.jpeg);
  background-size: 100%;
  background-position: center;
}

.member-container {
  width: 35rem;
  height: 35rem;
}

.member-img {
  position: relative;
  z-index:3;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.member-img-hover {
  z-index: 4;
  position: relative;
  top: -35.3rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.member-img-hover p {
  text-align: center;
  line-height: 35rem;
  color: white;
  font-size: 3rem;
}

.member-back {
  z-index: 2;
  position: relative;
  top: -45rem;
  width: 35rem;
  padding-top: 1rem;
  line-height: 7.5rem;
  transition: transform 1s;
}

.member-portfolio {
  z-index: 2;
  text-align: center;
  color: #ECEBEC;
  background-color: #2A63A6;
  height: 5rem;
  width: 30rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  margin: 0 2.5rem;
  line-height: 5rem;
}

.member-container:hover .member-back {
  transform: translateY(9.5rem);
}

.member-container:hover .member-img-hover {
  opacity: 1;
  transition: 1s;
}

.member-portfolio a {
  color: white;
  text-decoration: none;
}