@font-face {
  font-family: 'SpoqaHanSansNeo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* header start */
header {
  font-family: 'SpoqaHanSansNeo-Medium';
  height: 65px;
  background-color: #2A63A6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header-all-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-right: 20px;
}

.header-logo, 
.header-list {
  color: #ECEBEC;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  margin-left: 30px;
  line-height: 65px;
}

.header-list {
  font-size: 20px;
  padding:0 25px;
  line-height: 65px;
}

.header-list:hover {
  color: #FFD02D;
  transition: 1s;
}
/* header end */
/* video gallery start */
.grid-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-item {
  font-family: 'SpoqaHanSansNeo-Medium';
  width: 400px;
  height: 410px;
}

.video {
  width: 400px;
  height: 250px;
  background-color: gray;
}

.title {
  font-size: 23px;
  font-weight: bold;
}

.text {
  font-size: 15px;
}

.space {
  height: 20px;
}

.maker {
  font-size: 12px;
}

.day {
  margin-left: 240px;
}